<html>
	<body>
		<p>
			<img id="sn-value-login-logo-image" src="https://s3-ap-southeast-1.amazonaws.com/tv-prod/member/photo/1186355-medium130ap.jpg?r=31" />
		</p>
		<h3>OnlineShodh New Enquiry for ${enquiry.business.businessName}</h3>
		<h3>
			Enquiry Details
		</h3>
		<p>
			Enquiry Id - ${enquiry.businessEnquiryDetailsId}
		</p>
		<p>
			Enquirer Name - ${enquiry.enquiryname}
		</p>
		<p>
			Email - ${enquiry.email}
		</p>
		<p>
			Phone - ${enquiry.phone}
		</p>
		<h3>
			You got this new request
		</h3>
		<p>
			${enquiry.message}
		</p>
	</body>
</html>